

h1{
    display: flex;
    height: 4vh;
    width: 25vw;
    background-color: #000000;
    padding: 10px;
    color: #c4c4c4;
}
.calc{
    display: flex;
    flex-flow: column;
    background-color: #78807a;
    height: 30vw;
    width: 25vw;
    padding:10px;
}

.calcButton {

    height: 5vh;
    width: 25vw;
    

}

.nota{

    height: 2.5vh;
    width: 10vw;
}

.headercalc{
    padding: 10px;
    font-size: 1.5em;
    background-color: #1b1b25;
    display: flex;
    flex-flow:row nowrap;
    gap: 5px;
    flex-shrink: 2;

    color: #c4c4c4;
}
.headercalc input{
    width: auto;
}
h2{
    background-color: #000000;
    padding: 2px 0 2px 5px;
    color: #c4c4c4;
}
textarea{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    color: #c4c4c4;

}

.botao{

    height: 3vh;
    width: 4vw;


}

